- Covered Chapter 01 and Chapter 02 from Eric Matthes Book Python Crash Course 3rd Edition

# print simple hello world

In [1]:
print("Hello World!")

Hello World!

# use of variables 
* variable is a container to store values.
* you can use any name of variable like a, x, name, my_name, a1 etc

In [2]:
name = 'Farhan'
f_name = 'Zafar'
cast3 = 'Rajar'

# string data type

In [3]:
car: str = "Supra" # 2x Quates "" ok
print(car)

bike: str = 'Honda' # 1x Quates '' also ok
print(bike)

Supra
Honda

# change case string methods
* title( )
* upper( )
* lower( )

In [4]:
name: str = 'pakora'
print(name.title())

Pakora

In [5]:
name: str = "chai"
print(name.upper())

CHAI

In [6]:
name: str = 'BISCUITS'
print(name.lower())

biscuits

# f-string 
* using variables in strings

In [7]:
lado: str = "Sadiq"
ladi: str = "Kiani"
print(f"{lado} wedds {ladi}")

Sadiq wedds Kiani

# f-string "",'',""" """,''' '''.
* you can use multi values using f string 
* and also using any type of data

In [8]:
data = f"""name: Farhan
f_ name: Zafar
education: Software Engineer
age: 18
""" 
print(data)

name: Farhan
f_ name: Zafar
education: Software Engineer
age: 18

In [9]:
bro: str = "sadiq"
kiani: str = "babhi"
nibo_nibbi = (f'{bro} & {kiani} lakh lakh mubaraku hujan shadi ju!')
print(nibo_nibbi.title())

Sadiq & Babhi Lakh Lakh Mubaraku Hujan Shadi Ju!

# adding whitespace using tabs \t,\n

In [10]:
# \t tab whitespace
print("\tPython")

	Python

In [11]:
# \n newline
print('\n I love Python')

 I love Python

- You can also combine tabs and newlines in a single string. The string "\n\t" tells Python to move to a new line, and start the next line with a tab.

In [12]:
# using togather 
print("Languages:\n\tPython\n\tTypescript\n\tSolidity")

Languages:
	Python
	Typescript
	Solidity

# stripping whitespace
* rstript() methode remove right-side space
* lstrip() method remove left-side space 
* strip() method removes both sides of the string.

In [13]:
dish: str = '    Beef Pulao'
print(dish.lstrip())

Beef Pulao

In [14]:
dish: str = 'Mutton Biryani     '
print(dish.rstrip())

Mutton Biryani

In [15]:
dish: str = "    Mirchan g Chatni     "
print(dish.strip())

Mirchan g Chatni

# Remove (prefix,suffix)
* prefix( )
* suffix( )

In [16]:
my_account: str = "farhan-aziz460"
print(my_account.removesuffix('460'))

farhan-aziz

In [17]:
ai: str = 'https:/generative.ai'
print(ai.removeprefix('https:/'))

generative.ai

# using apostrophe in string

In [18]:
apostrophe: str = "One of Python's strengths is it diverse comunity."
print(apostrophe) # 2x quates code work OK

One of Python's strengths is it diverse comunity.

In [19]:
apostrophe: str = 'One of Python's strength is it diverse comunity.'
print(apostrophe) # if you use single quotes, Python can’t identify where the string should end

SyntaxError: unterminated string literal (detected at line 1) (192555094.py, line 1)

# Numbers (intiger data type)

In [ ]:
a: int = 6
b: int = 2
c: int = a + b
print(c)

8

In [ ]:
d: int = a - b
print(d)

4

In [ ]:
e: int = a * b
print(e)

12

In [ ]:
f: int = a / b           
print(f)

3.0

# Floats data type
* python calls any number with a decimal point a float.
* It is used to represent real numbers, like 123.456 or -987.000 etc.

In [ ]:
a: float = 1.5
b: float = 1.5
c: float = a + b
print(c)

3.0

# When you divide any two numbers, even if they are integers that result in a whole number, you’ll always get a float

In [ ]:
a: int = 4
b: int = 2
c = a / b 
print(type(c))   
print(c)

<class 'float'>
2.0

# underscores using numbers
* When you’re writing long numbers, you can group digits using underscores to make large numbers more readable
* When you print a number that was defined using underscores, Python prints only the digits:

In [ ]:
nmbr: int = 5678_000_0000
print(nmbr)

56780000000

# you can use multiple values & variables in a single line using comma (,)

In [ ]:
x,y,z = 1,'A',True
print(x,y,z)

1 A True

# List data type

In [ ]:
freinds: list[str] = ["Sadiq","Jabir","Iqrar","Sheeraz","Tariq"]
print(freinds)

['Sadiq', 'Jabir', 'Iqrar', 'Sheeraz', 'Tariq']

# accenssing list elements using indexes
* positive index (start:end:step)
* negative index (start:end:step)

In [ ]:
# -->                    0       1       2        3        4     positive indexing
freinds: list[str] = ["Sadiq","Jabir","Iqrar","Sheeraz","Tariq"]
# <--                   -5      -4      -3      -2         -1    negative indexing
print(freinds[0]) # ok
print(freinds[-5]) # also ok

Sadiq
Sadiq

In [ ]:
# -->                    0       1       2        3        4     positive indexing
freinds: list[str] = ["Sadiq","Jabir","Iqrar","Sheeraz","Tariq"]
# <--                   -5      -4      -3      -2         -1    negative indexing
print(freinds[0:4: ]) # ok
print(freinds[-5:-1: ]) # ok

['Sadiq', 'Jabir', 'Iqrar', 'Sheeraz']
['Sadiq', 'Jabir', 'Iqrar', 'Sheeraz']

In [ ]:
table: list[int] = [1,2,3,4,5,6,7,8,9,10,11]
print(table[0:11:2])
print(table[-11:-1:2])

[1, 3, 5, 7, 9, 11]
[1, 3, 5, 7, 9]

# modifying elements in list

In [ ]:
cars: list[str] = ['civic','city','margala','mark x']
cars[2] = 'supra'
print(cars)

['civic', 'city', 'supra', 'mark x']

# adding elements in list
* append( ) add element in the last of list

In [ ]:
dishes: list[str] = ['Zinger Burger','Fries','Pizza']
dishes.append('Noodles')
print(dishes)

['Zinger Burger', 'Fries', 'Pizza', 'Noodles']

# inserting elements
* insert( ) method using for add elements in the list at any position using indexes

In [ ]:
letters: list[str] = ['a','c','d','f']
letters.insert(1,'b')

print(letters)

['a', 'c', 'd', 'e', 'f']

In [ ]:
letters: list[str] = ['a','c','d','f']
letters.insert(-1,'e')
print(letters)

['a', 'c', 'd', 'e', 'f']

# removing elements from a list
* delete function

In [ ]:
bikes: list[str] = ['Honda','Suzuki','Yamha']
del bikes[1]
print(bikes)

['Honda', 'Yamha']

# pop( ) method 
* removing elements from the last of list

In [ ]:
letters: list[str] = ['a','b','c','f']
letters.pop()
print(letters)

['a', 'b', 'c']

# poping items using index

In [ ]:
letters: list[str] = ['a','c','d','f']
letters.pop(-1) # you can use negative & positive indexes for poping also Ok
#letters.pop(1) # ['a','d'] 
print(letters)

['a', 'c', 'd']

# removing an item by value
* remove( ) method

In [ ]:
cars: list[str] = ['supra','coure','mehran','khyber']
cars.remove('coure')
print(cars)

['supra', 'mehran', 'khyber']

# sorting list
* sort( ) method

In [ ]:
alpha: list[str] = ['a','e','g','b','d','c']
alpha.sort()
print(alpha)

['a', 'b', 'c', 'd', 'e', 'g']

In [ ]:
alpha: list[str] = ['a','e','g','b','d','c']
alpha.sort(reverse=True)
print(alpha) # reverse alphabetical order

['g', 'e', 'd', 'c', 'b', 'a']

# sorted( ) function
* This is a built-in Python function that can be used to sort any iterable object.

In [ ]:
alpha: list[str] = ['a','e','g','b','d','c']

print(sorted(alpha)) # sorting list temporarily with sorted( ) function

['a', 'b', 'c', 'd', 'e', 'g']

# Reverse the list
* reverse( ) method

In [ ]:
nums: list[int] = [1,2,3,4,5,6]
nums.reverse()
print(nums)
nums.reverse() 
print(nums)

[6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6]

# find length of list
* len( ) function

In [ ]:
cars: list[str] = ['civic','supra','toyota','honda']
len(cars)

4

# Index errors
* Index errors are a type of error that occur when an attempt is made to access data at an index that does not exist in the array or list

In [24]:
index_error: list[str] = ['Honada',"Bruno","Dodge"] 

print(index_error[3]) # IndexError: list index out of range

IndexError: list index out of range

In [29]:
index_error: list[str] = ['Honada',"Bruno","Dodge"] 
# case 1
print(index_error[-1]) # always return last item of the list

Dodge

In [25]:
index_error: list[str] = [ ] 
# case 2
print(index_error[-1]) # negative index return error when list will be empty

IndexError: list index out of range

In [30]:
index_error: list[str] = ['Honada',"Bruno","Dodge"] 

print(index_error[-4]) # list index out of range

IndexError: list index out of range