# Simple if statement

In [1]:
car = "Honda Civic"

if car == "Honda Civic":
    print("You will have a Honda Civic. Inshallah One day")
else:
    print("I don't have today but in future....")

You will have a Honda Civic. Inshallah One day

In [6]:
cars = ["bmw","bugati","Mercedees","bently"]

for car in cars:
    if car == "bmw":
        print(car.upper())
    else:
        print(car.title())

BMW
Bugati
Mercedees
Bently

# Conditional Tests
* = assigning
* == equality
* != inequality
* > greater than
* < less than
* >= greater or equal to
* <= less or equal to
* && logical and
* || logical or

In [8]:
a = 5

if a == 5: # True conditions
    print("a is equal to 5")
else:
    print("a is not equal to 5")

a is equal to 5

In [9]:
a = 5 

if a == 4:
    print("a is not equal to 4")
else: 
    print("a is equal to 5")

a is equal to 5

In [11]:
car = "Audi"
car == 'audi' # ignore case

False

In [13]:
# != not equal
a = 5

if a != 4: # true
    print("equal to 5")
else:
    print("not equal to 5")

equal to 5

In [14]:
# != not equal
a = 5

if a != 5: # false
    print("equal to 5")
else:
    print("not equal to 5")

not equal to 5

In [15]:
# >= greater then or equal case 1
a = 10

if a >= 10:
    print("correct")
else:
    print("wrong")

correct

In [17]:
# >= greater then or equal case 2
a = 10

if a >= 11:
    print("correct")
else:
    print("wrong")

wrong

In [19]:
# <= less then or equal case 1
a = 10

if a <= 11:
    print("correct")
else:
    print("wrong")

correct

In [21]:
# <= less then or equal case 2
a = 10

if a <= 9:
    print("correct")
else:
    print("wrong")

wrong

In [24]:
# > greater then case 1
a = 10

if a > 10: # here we use = with greater and less due to handle value comparison
    print("correct")
else:
    print("wrong")

wrong

In [25]:
# greater then > case 2
a = 10

if a > 9:
    print("correct")
else:
    print("wrong")

correct

In [27]:
# and case 1
age_1 = 18
age_2 = 20

age_1 >= 17 and age_2 >= 20

True

In [30]:
# and case 2
age_1 = 18
age_2 = 20

age_1 >= 17 and age_2 >= 21

False

In [34]:
# age_0 = 22
age_1 = 18
# age_0 >= 21 or age_1 >= 21

age_0 = 18
age_0 >= 21 or age_1 >= 21

False

In [46]:
# or case 1 2x true values
age_1 = 18
age_2 = 20

age_1 >= 17 or age_2 >= 19

True

In [47]:
# or case 2 1x true 1x false
age_1 = 18
age_2 = 20

age_1 >= 19 or age_2 >= 19

True

In [48]:
# or case 3
age_1 = 18
age_2 = 20

age_1 >= 17 or age_2 >= 21

True

In [49]:
# or case 3 
age_1 = 18
age_2 = 20

age_1 >= 19 or age_2 >= 21 # when 2x values will be false then return false

False

In [51]:
# checking value in a list
vegitables = ['mushrooms', 'onions', 'spinach']
'mushrooms' in vegitables # this item is availble in the current list
# True
'pepperoni' in vegitables # this item is not available in the current list
# false

False